:root {
    --clr-bg-primary: rgb(58, 58, 58);
    --clr-bg-secondary: rgb(116, 116, 116);
    --clr-btn-bg-primary: rgb(66, 66, 66);
    --clr-btn-bg-secondary: rgb(77, 77, 77);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    background-color: var(--clr-bg-primary);
}

h1 {
    font-size: 2.5rem;
}

img {
    width: 35px;
    height: auto;
    padding: 5px;
    cursor: pointer;
}

img:hover {
    background-color: rgb(138, 138, 138);
}

a {
    text-decoration: none;
    color:rgb(138, 138, 138);
}

a:visited {
    text-decoration: none;
    color:rgb(138, 138, 138);
}

a:hover {
    color:rgb(170, 170, 170);
}

button {
    background-color: var(--clr-bg-secondary);
    margin: 0px 5px;
    border: transparent;
}

button:hover {
    background-color: rgb(138, 138, 138);
}

/* ----------------------------------------------- */
/*!-------------- Tools Container ---------------- */
/* ----------------------------------------------- */

.toolsContainer {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    background-color: var(--clr-bg-secondary);
}

.selected {
    background-color: rgb(138, 138, 138);
}

/* ----------------------------------------------- */
/*!-------------- Canvas Container --------------- */
/* ----------------------------------------------- */

.canvasContainer {
    display: grid;
    width: 85vh;
    height: 85vh;
    background-color: #ffffff;
}

/* ----------------------------------------------- */
/*!---- Color picker and canvas size container --- */
/* ----------------------------------------------- */

.colorSizeContainer {
    display: flex;
    flex-direction: column;
    height: 84vh;
    width: 40vh;
}

.copyright {
    font-size: 1em;
    font-weight: bold;
    margin-top: auto;
}

/* COLOR PICKER CONTAINER */
.colorPickerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}

/* CHANGE SIZE CONTAINER */
.sizeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-secondary);
    height: 120px;
    border-radius: 5px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 6px 5px 7px;
}

#canvasMessage {
    margin: 3px 0px;
    font-size: 1.05em;
}

#alertMessage {
    color: rgb(196, 196, 196);
    margin: 10px 4px;
    font-size: 1.05em;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.buttonsContainer button {
    background-color: var(--clr-btn-bg-primary);
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    color:rgb(138, 138, 138);
}

.buttonsContainer button:hover {
    background-color: var(--clr-btn-bg-secondary);
}

input[type="text"] {
    background-color: var(--clr-btn-bg-primary);
    border: 1px solid rgba(5, 5, 5, 0.7);
    border-radius: 5px;
    padding: 4px;
    width: 90%;
    font-size: 0.95em;
}

input[type="text"]:focus {
    outline: none;
    background-color: var(--clr-btn-bg-secondary);
}

.gridBorder {
    border: 1px dotted rgba(153, 153, 153, 0.87);
}

/* --- changes the color picker to be a circle ---- */
input[type="color"] {
    -webkit-appearance: none;
    width: 120px;
    height: 120px;
    background-color: var(--clr-bg-primary);
    border: none;
    cursor: pointer;
}
  
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; 
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 6px 5px 7px;
}